<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ec.androidticket" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_display"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.login.TicketLoginActivity"
            android:label="@string/title_activity_ticket_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.home.TicketHomeActivity"
            android:label="@string/title_activity_tickets"
            android:parentActivityName=".activities.login.TicketLoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.TicketLoginActivity" />
        </activity>
        <activity
            android:name=".activities.ticketDetail.TicketDetailActivity"
            android:label="@string/title_activity_ticket_detail"
            android:parentActivityName=".activities.home.TicketHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.home.TicketHomeActivity" />
        </activity>
        <activity
            android:name=".activities.createTicket.CreateTicketActivity"
            android:label="@string/title_activity_create_ticket"
            android:parentActivityName=".activities.home.TicketHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ec.androidticket.activities.home.TicketHomeActivity" />
        </activity>
        <activity
            android:name=".activities.createComment.CreateCommentActivity"
            android:label="@string/title_activity_create_comment"
            android:parentActivityName=".activities.ticketDetail.TicketDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ec.androidticket.activities.ticketDetail.TicketDetailActivity" />
        </activity>
        <activity
            android:name=".activities.createBuilding.CreateBuildingActivity"
            android:label="@string/title_activity_create_building"
            android:parentActivityName=".activities.home.TicketHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ec.androidticket.activities.home.TicketHomeActivity" />
        </activity>
    </application>

</manifest>
